:root {
  --dark-blue: #004794;
  --light-blue: #005fb8;
  --white: #ffffff;
  --light-gray: #e0e0e0;
  --dark-gray: #333333;
  --light-green: #00a878;
  --dark-green: #007a5e;
  --light-orange: #ff7f50;
  --dark-orange: #ff6236;
  --light-gold: #ffd700;
  --dark-glod: #e5c200;
}
